<a href="https://colab.research.google.com/github/barauna-lo/Code_Library/blob/main/Tutorials/Tutorial_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://codefather.tech/wp-content/uploads/2021/04/pandas-standard-deviation.png'>

# Tutorial de Pandas 

Este é um tutorial pessoal para alguns atalhos do pandas. Constantemente me pego tendo que lembrar de alguns comandos que são relativamente básicos no pandas. Porém, estou buscando fluencia nessa biblioteca descidi criar um códido nesse repositório para que possa lembrar desses comandos.

In [3]:
import pandas as pd

# Lendo Conjuntos de Dados

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00523/Exasens.csv

--2022-07-22 14:18:19--  https://archive.ics.uci.edu/ml/machine-learning-databases/00523/Exasens.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14051 (14K) [application/x-httpd-php]
Saving to: ‘Exasens.csv’

Exasens.csv         100%[===================>]  13.72K  --.-KB/s    in 0.007s

2022-07-22 14:18:19 (1.84 MB/s) - ‘Exasens.csv’ saved [14051/14051]

In [4]:
#Lendo Arquivos com extensão .csv()
df = pd.read_csv('Exasens.csv')

In [5]:
# Printa as informações dos dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Diagnosis       399 non-null    object
 1   ID              399 non-null    object
 2   Imaginary Part  101 non-null    object
 3   Unnamed: 3      101 non-null    object
 4   Real Part       101 non-null    object
 5   Unnamed: 5      101 non-null    object
 6   Gender          399 non-null    float64
 7   Age             399 non-null    float64
 8   Smoking         399 non-null    float64
 9   Unnamed: 9      0 non-null      float64
 10  Unnamed: 10     0 non-null      float64
 11  Unnamed: 11     3 non-null      object
 12  Unnamed: 12     4 non-null      object
dtypes: float64(5), object(8)
memory usage: 40.9+ KB

In [7]:
# Imprime valores dados estatisticos do dataframe
df.describe()

           Gender         Age     Smoking  Unnamed: 9  Unnamed: 10
count  399.000000  399.000000  399.000000         0.0          0.0
mean     0.398496   48.736842    1.726817         NaN          NaN
std      0.490203   18.566962    0.742167         NaN          NaN
min      0.000000   17.000000    1.000000         NaN          NaN
25%      0.000000   31.000000    1.000000         NaN          NaN
50%      0.000000   49.000000    2.000000         NaN          NaN
75%      1.000000   64.000000    2.000000         NaN          NaN
max      1.000000   93.000000    3.000000         NaN          NaN

In [10]:
#Imprime a soma de todos os valores nulos no conjunto de dados
df.isnull().sum()

Diagnosis           2
ID                  2
Imaginary Part    300
Unnamed: 3        300
Real Part         300
Unnamed: 5        300
Gender              2
Age                 2
Smoking             2
Unnamed: 9        401
Unnamed: 10       401
Unnamed: 11       398
Unnamed: 12       397
dtype: int64

In [11]:
len(df)

401

# Pre-Processamento de dados

References [nearest-earth-objects](https://www.kaggle.com/code/pedrovinciusmeerholz/nearest-earth-objects-three-models-acc-90)

In [ ]:
#Retirar valores Nulos